// TYPOGRAPHY
$primary: #B3EB95;
$secondary: #CCC;
$baseFont:'Josefin Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;


h1 {
   font-size: 52px;
   margin: 0;
}
h2 {
   font-size: 40px;
}

h3 {
   font-size: 26px;
}