// TYPOGRAPHY
$primaryGreen: #074115;
$secondaryGreen: #0E902D;
$primaryYellow:#f8E71C
$baseFont'Josefin Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;


h1 {
   $baseFont:bold,80px;
   font-size: 52px;
   margin: 0;
}
h2 {
   font-size: 40px;
}

h3 {
   font-size: 26px;
}