@import 'setup';
@import 'header';
@import 'footer';
@import 'typography';

html {
   font-size: 62.5%;
}


.wrapper {
   max-width: 960px;
   margin: 0 auto;
}


main {
   padding: 100px 0;
}

footer {
   // background:;
   padding: 50px 0;
}

