
.blogHeaderDiv { 
   position: relative;
   background-image: url("../planted-final-assets/blog-header-1.jpg");
   display: inline-block;
   background-repeat: no-repeat;
}

.headerImg3 { 
   position: absolute;
   overflow: visible;
   left: 726px;
   top: 145px;   
}