// header
header { 
   position: relative;
   background-image: url(../planted-final-assets/home-image-1.jpg);
   display: inline-block;
   background-repeat: no-repeat;
}

.headerImg2 { 
   position: absolute;
   overflow: visible;
   left: 726px;
   top: 145px;   
}

.logo { 
   display: inline-block;
   font-family:$baseFont;
   color: white;
   font-size: 32px;
   padding-left: 50px;
   width: 10%;
}

.logo:hover,
.logo:focus{
   color: yellow;
}

.nav { 
   width: 90%;
   float: right;
   padding-left: 60px;  
   padding-top: 20px;


   ul { 
   width: 60%;
   flex-direction: row;
   list-style-type: none;
   text-decoration: none;
   padding-left: 60px;  
}
}

ul a { 
   color: white;
}

ul a:hover,
ul a:focus {
   color: yellow;
}

h1 { 
   position: relative;
   font-size: 188px;
   font-weight: 400;
   font-family: $baseFont;
   color: #ffffff;
   width: 50%;
   left: 400px;
}
.primaryYellow {
   color:$primaryYellow;

}
