.what-is-section { 
   display: flex;
   flex-wrap: wrap;
}

.what-is-div { 
   display: inline-block;
   height: 65vh;
   position: relative;
   background-color: #F0EFED;
   text-align: center;
   padding-top: 100px;

h2 { 
   font-family:$baseFont;
   font-size: 56.3px;
   line-height:1.3px;
}
}
.plantedP { 
   font-size: 15px;
   left: 485px;
   margin-bottom: 50px;
}

.findOutMore { 
   position: relative;
   padding-top: 20px;
   height: 60px;
   width: 200px;
   background-color: #0E902D;
   display: inline-block;

   &:focus, 
   &:hover { 
   color: #03651a;


   }
}

   a {
   padding:0px 15px;
   color: white;   
   font-size:20px;

}

// four Sections 

.squareContainer {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(4, 1fr);
   height: 100vh;
   width: 100%;

   @media screen and (max-width: 60em) {
   grid-template-rows: repeat(4, 1fr);
   background-color:#FFF;
   }
} 

.grid-1 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row: 1;
   @media screen and (max-width: 60em) {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 1;
   }
}
.grid-2 {
   grid-column-start: 3;
   grid-column-end: 5;
   @media screen and (max-width: 60em) {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 2;
   left: 100px;
   }
}

.grid-3 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row: 2;
   @media screen and (max-width: 60em) {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 3;
   }
}

.grid-4 {
   grid-column-start: 3;
   grid-column-end: 5;
   grid-row: 2;
   @media screen and (max-width: 60em) {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 4;
   }
}


// grid was researched to get it to work for what I needed. 


.fourSecDiv { 
   width: 100%;
   font-size: 15px;
   text-align: center;
}

.grid-2, 
.grid-2 p { 
   text-align: start;
}

.grid-3,
.grid-3 p { 
   text-align:end;
}
.grid-3 p { 
   left: 480px;
}


.divImg1,
.divImg2 { 
   width: 60%;
   box-shadow: 10px 10px 4px $primaryYellow
}

.divImg2{ 
   margin-left: 40%;
   box-shadow: -10px 14px 4px #f8E71C
}


.readMore { 
   position: relative;
   text-align: center;
   margin: 0 10px;
   padding-top: 12px;
   height: 40px;
   width: 130px;
   background-color: #0E902D;
   display:inline-block;

   a { 
      font-size: 15px;
}
}

.links-Founder-Sec { 
   background-color:#F0EFED;
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(4, 1fr);
   @media screen and (max-width: 40em) {
   grid-template-rows: repeat(4, 1fr);
   background-color:#FFF;
}
} 

.fourLinks { 
   width: 100%;
   
}


.icon-1 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row: 1;
   @media screen and (max-width: 40em) {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 1;
}  
}

.icon-2 {
   grid-column-start: 3;
   grid-column-end: 5;
   @media screen and (max-width: 40em) {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 2;
   left: 100px;
}
}
   
.icon-3 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row: 2;
   @media screen and (max-width: 40em) {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 3;
}
}
   
.icon-4 {
   grid-column-start: 3;
   grid-column-end: 5;
   grid-row: 2;
   @media screen and (max-width: 40em) {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 4;
}
}


.yellowCircle,
.Icon1 { 
   background-color: $primaryYellow;
   width:40px;
   font-size: 20px;
   border-radius: 50%;
   padding-left: 5px;
   margin-top: 50px;
}
   
.circleText { 
   color:black;
   font-size: 20px;
}

.circleP { 
   color:black;
   font-size: 15px;
}

.second-Main{
   width: 100vw;
   background-color:#F0EFED;
}

.wideImg img { 
   width: 100vw;
   height:100% ;
}

.founder-img { 
   display:inline-block;
   margin-left: 100px;
   margin-bottom: 50px;
   margin-top: 50px;

   img { 
      box-shadow: 10px 10px 4px $primaryYellow;

   }
}

.founder-text { 
   margin-left: 100px;
}

.founder-text p { 
   width: 30%;
   font-size: 15px;
   text-align: left;
}

.founder-text h3 { 
   font-size: 30px;
}