.what-is-section { 
   display: flex;
   flex-wrap: wrap;
}

.what-is-div { 
   display: inline-block;
   height: 72vh;
   position: relative;
   background-color: #F0EFED;
   text-align: center;
   padding-top: 100px;

h2 { 
   font-family:$baseFont;
   font-size: 56.3px;
   line-height:1.3px;
}
}
.plantedP { 
   font-size: 15px;
   left: 350px;
   margin-bottom: 50px;
}

.findOutMore { 
   position: relative;
   padding-top: 20px;
   height: 60px;
   width: 200px;
   background-color: #0E902D;
   display: inline-block;

   &:focus, 
   &:hover { 
   color: #03651a;


   }
}

   a {
   padding:0px 15px;
   color: white;   
   font-size:20px;

}