@import './setup';
@import './variables';
@import './header';
@import './main';


// general

html { 
   font-size: 62.5%;
   font-family: 'East Sea Dokdo', cursive;
   font-family: 'Roboto', sans-serif;
}
body { 
   display: flex;
   flex-wrap: wrap;
   background: #ffffff;
   color: black;
   height: 90vh;
   font-family:$baseFont;
   margin: 0 auto;
}

div + .findOutmore:hover{ 
   background-color:#016519;
}

p { 
   position: relative;
   width: 50%;
   text-align: center;
}

a { 
   text-decoration: none;
   color:#FFF;
   font-size: 25px;

}

img { 
   max-width: 100%;
}

.wrapper{ 
   max-width:1300px; ;
   width: 90%;
   margin: 0 auto;
}
