@import './setup';
@import './variables';
@import './header';

// general styles

body { 
   background: #ffffff;
   color: black;
   height: 90vh;
   font-family:$baseFont;
   margin: 0 auto;

}
.logo { 
   display: inline-block;
   font-family:$baseFont;
   font-size: 32px;
   padding-left: 50px;
   width: 40%;
}

.headerDiv { 
   display: inline-block;
   width:calc(100% / 2 -120px);

}

ul { 
   text-decoration: none;
   padding-left: 60px;

   a { 
      text-decoration: none;
      padding-left: 60px;
   }
}

h1 { 
   font-size: 200px;
   font-weight: 400;
   font-family: $baseFont;
   color: black;

}



